@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  font-family: "Lato", sans-serif;
}

:root {
  font-size: 62.5%;

  --black: hsl(0, 0%, 0%);
  --white: hsl(0, 0%, 100%);
  --text: hsl(0, 0%, 13%);
  --app-bg: hsl(0, 0%, 90%);
  --button-bg: hsl(0, 0%, 12%);
  --article-button: hsla(0, 0%, 15%, 0.521);
  --gray-articles: hsl(0, 0%, 98%);
  --switch-light: hsl(20, 1%, 39%);
  --switch-dark: hsl(60, 1%, 21%);
}

body {
  background-color: var(--app-bg);
}

.app {
  max-width: 144rem;
  margin: 0 auto;
}

.container {
  position: relative;
}

.container > img {
  width: 100%;
  max-height: 90rem;
  object-fit: cover;
  filter: brightness(0.7);
}

.container > section {
  position: absolute;
  top: 4rem;
  left: 4rem;
  right: 4rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container > section > img {
  width: 4rem;
  height: 4rem;
}

.switch {
  background-color: var(--switch-light);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 3rem;
  padding: .4rem 1.6rem .4rem .5rem;
  border-radius: 4rem;
}

.switch > a {
  text-decoration: none;
  color: var(--white);
  font-size: 1.6rem;
}

.switch > a:nth-child(1) {
  background-color: var(--switch-dark);
  border-radius: 4rem;
  padding: .5rem 1.4rem;
  margin-right: -.5rem;
}

.container > section > p {
  color: var(--white);
  font-weight: normal;
  font-size: 1.6rem;
}

.container > section > p > strong {
  font-weight: 700;
}

.container > h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;

  font-size: 32rem;
  font-weight: 700;
  width: 100%;
  color: var(--white);
}

.container > p {
  position: absolute;
  bottom: 4rem;
  left: 4rem;

  color: var(--white);
  font-size: 2.4rem;
  line-height: 3rem;
}

.about {
  background-color: var(--white);
  margin-top: -.3rem;
  padding: 6rem 5rem 7rem;
}

.about > h3 {
  color: var(--text);
  font-size: 1.7rem;
  margin-bottom: 2rem;
}

.aboutText {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.aboutText > h2 {
  color: var(--text);
  font-size: 6rem;
}

.welcome {
  max-width: 48rem;
}

.welcome > p {
  color: var(--text);
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 2.9rem;
}

.welcome > button {
  margin-top: 2.5rem;
  padding: .9rem 2.3rem 1.2rem;
  border: none;
  background-color: var(--button-bg);
  color: var(--white);
  border-radius: 30px;
  font-size: 1.6rem;
  display: flex;
  text-align: center;
  align-content: center;
  cursor: pointer;
  
  transition-property: transform;
  transition-duration: 0.4s;
}

.welcome > button:hover {
  transform: scale(1.1);
}

.totals {
  display: flex;
  justify-content: space-between;
  margin-top: 8rem;
}

.totals > article {
  background-color: var(--gray-articles);

  max-width: 38rem;
  padding: 2rem 2.8rem 2.4rem 2.2rem;
  border-radius: 1rem;
}

.totals > article > h2 {
  font-size: 4.8rem;
  letter-spacing: .2rem;
}

.totals > article > p {
  margin-top: 2rem;
  font-size: 1.6rem;
}

.services {
  background-color: var(--gray-articles);
  padding: 6rem 5rem 8rem;
}

.services > h3 {
  color: var(--text);
  font-size: 1.7rem;
  margin-bottom: 2rem;
}

.services > h2 {
  color: var(--text);
  font-size: 6rem;
  max-width: 100rem;
  line-height: 7.5rem;
  margin-bottom: 5rem;
}

.articles {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  justify-content: space-between;
  gap: 3rem;
}

.articles > article {
  position: relative;
  overflow: hidden;
  max-height: 50rem;
  transition-property: transform;
  transition-duration: 0.4s;
}

.articles > article:hover {
  transform: scale(1.05);
}

.articles > article > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(0.7);
  border-radius: 20px;
}

.detailArticles  {
  position: absolute;
  left: 5%;
  bottom: 5%;
}

.detailArticles  > h4 {
  font-size: 4.3rem;
  color: var(--white);
  margin-bottom: 2rem;
}

.detailArticles  > button {
  padding: .8rem 2.3rem .8rem 1.5rem;
  border: var(--white) 1px solid;
  background-color: var(--article-button);
  border-radius: 30px;

  color: var(--white);
  font-size: 1.5rem;
  display: flex;
  text-align: center;
  align-content: center;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  transition-property: transform;
  transition-duration: 0.4s;
}

.detailArticles > button:hover {
  transform: scale(1.1);
}

ion-icon {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: .5rem;
}

.articles > article > h4 {
  position: absolute;
  bottom: 4rem;
  left: 4rem;

  color: var(--white);
  font-size: 2.4rem;
  line-height: 3rem;
}

.projects {
  display: grid;
  background-color: var(--white);
  padding: 6rem 5rem 8rem;
}

.projects > h3 {
  color: var(--text);
  font-size: 1.7rem;
  margin-bottom: 2rem;
}

.projects > h2 {
  color: var(--text);
  font-size: 6rem;
  max-width: 100rem;
  line-height: 7.5rem;
  margin-bottom: 5rem;
}

.cards {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: 1fr 1fr auto;
  justify-content: center;
  gap: 5rem;
}

.cards > article {
  position: relative;
  overflow: hidden;
  height: 40rem;
  width: 55rem;
  transition-property: transform;
  transition-duration: 0.4s;
}

.cards > article:hover {
  transform: scale(1.05);
}

.cards > article > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(0.7);
  border-radius: 20px;
}

.detailCards {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  left: 5%;
  bottom: 7%;
  gap: 1rem;
}

.detailCards > h2 {
  margin-right: 3rem;
  font-size: 3.5rem;
  color: var(--white);
}

.detailCards > button {
  background-color: hsla(0, 0%, 43%, 0.336);
  padding: .6rem 1.4rem .8rem;
  border: var(--white) 1px solid;
  background-color: var(--article-button);
  border-radius: 30px;

  color: var(--white);
  font-size: 1.5rem;
  display: flex;
  text-align: center;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.seeAll {
  width: fit-content;
  place-self: center;
  
  background-color: var(--white);
  color: var(--black);
  border: 1px solid var(--black);

  font-size: 1.6rem;
  font-weight: 700;
  padding: .8rem 1.2rem;
  border-radius: 30px;
  cursor: pointer;

  transition-property: transform;
  transition-duration: 0.4s;
}

.seeAll:hover {
  transform: scale(1.05);
}
