@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  font-family: "Lato", sans-serif;
}

:root {
  font-size: 62.5%;

  --black: hsl(0, 0%, 0%);
  --white: hsl(0, 0%, 100%);
  --text: hsl(0, 0%, 13%);
  --app-bg: hsl(0, 0%, 90%);
  --button-bg: hsl(0, 0%, 12%);
  --article-button: hsla(0, 0%, 15%, 0.521);
  --gray-articles: hsl(0, 0%, 98%);
  --span-text: hsl(0, 0%, 64%);
  --line: hsl(0, 0%, 97%);
  --switch-light: hsl(20, 1%, 39%);
  --switch-dark: hsl(60, 1%, 21%);
}

body {
  background-color: var(--app-bg);

  -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none; 
    user-select: none; 
}

.app {
  max-width: 144rem;
  margin: 0 auto;
}

/* HEADER SECTION */
.container {
  position: relative;
}

.container > img {
  width: 100%;
  max-height: 90rem;
  object-fit: cover;
  filter: brightness(0.7);
}

.container > section {
  position: absolute;
  top: 4rem;
  left: 4rem;
  right: 4rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container > section > img {
  width: 4rem;
  height: 4rem;
}

.switch {
  background-color: var(--switch-light);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 3rem;
  padding: .4rem 1.6rem .4rem .5rem;
  border-radius: 4rem;
}

.switch > a {
  text-decoration: none;
  color: var(--white);
  font-size: 1.6rem;
}

.switch > a:nth-child(1) {
  background-color: var(--switch-dark);
  border-radius: 4rem;
  padding: .5rem 1.4rem;
  margin-right: -.5rem;
}

.container > section > p {
  color: var(--white);
  font-weight: normal;
  font-size: 1.6rem;
}

.container > section > p > strong {
  font-weight: 700;
}

.container > h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;

  font-size: 32rem;
  font-weight: 700;
  width: 100%;
  color: var(--white);
}

.container > p {
  position: absolute;
  bottom: 4rem;
  left: 4rem;

  color: var(--white);
  font-size: 2.4rem;
  line-height: 3rem;
}

/* ABOUT SECTION */
.about {
  background-color: var(--white);
  margin-top: -.3rem;
  padding: 6rem 5rem 7rem;
}

.about > h3 {
  color: var(--text);
  font-size: 1.7rem;
  margin-bottom: 2rem;
}

.aboutText {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.aboutText > h2 {
  color: var(--text);
  font-size: 6rem;
}

.welcome {
  max-width: 48rem;
}

.welcome > p {
  color: var(--text);
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 2.9rem;
}

.welcome > button {
  margin-top: 2.5rem;
  padding: .9rem 2.3rem 1.2rem;
  border: none;
  background-color: var(--button-bg);
  color: var(--white);
  border-radius: 30px;
  font-size: 1.6rem;
  display: flex;
  text-align: center;
  align-content: center;
  cursor: pointer;
  
  transition-property: transform;
  transition-duration: 0.4s;
}

.welcome > button:hover {
  transform: scale(1.1);
}

.totals {
  display: flex;
  justify-content: space-between;
  margin-top: 8rem;
}

.totals > article {
  background-color: var(--gray-articles);

  max-width: 38rem;
  padding: 2rem 2.8rem 2.4rem 2.2rem;
  border-radius: 1rem;
}

.totals > article > h2 {
  font-size: 4.8rem;
  letter-spacing: .2rem;
}

.totals > article > p {
  margin-top: 2rem;
  font-size: 1.6rem;
}

/* SERVICES SECTION */
.services {
  background-color: var(--gray-articles);
  padding: 6rem 5rem 8rem;
}

.services > h3 {
  color: var(--text);
  font-size: 1.7rem;
  margin-bottom: 2rem;
}

.services > h2 {
  color: var(--text);
  font-size: 6rem;
  max-width: 100rem;
  line-height: 7.5rem;
  margin-bottom: 5rem;
}

.articles {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  justify-content: space-between;
  gap: 3rem;
}

.articles > article {
  position: relative;
  overflow: hidden;
  max-height: 50rem;
  transition-property: transform;
  transition-duration: 0.4s;
}

.articles > article:hover {
  transform: scale(1.05);
}

.articles > article > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(0.7);
  border-radius: 20px;
}

.detailArticles  {
  position: absolute;
  left: 5%;
  bottom: 5%;
}

.detailArticles  > h4 {
  font-size: 4.3rem;
  color: var(--white);
  margin-bottom: 2rem;
}

.detailArticles  > button {
  padding: .8rem 2.3rem .8rem 1.5rem;
  border: var(--white) 1px solid;
  background-color: var(--article-button);
  border-radius: 30px;

  color: var(--white);
  font-size: 1.5rem;
  display: flex;
  text-align: center;
  align-content: center;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  transition-property: transform;
  transition-duration: 0.4s;
}

.detailArticles > button:hover {
  transform: scale(1.1);
}

ion-icon {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: .5rem;
}

.articles > article > h4 {
  position: absolute;
  bottom: 4rem;
  left: 4rem;

  color: var(--white);
  font-size: 2.4rem;
  line-height: 3rem;
}

/* PROJECTS SECTION */
.projects {
  display: grid;
  background-color: var(--white);
  padding: 6rem 5rem 8rem;
}

.projects > h3 {
  color: var(--text);
  font-size: 1.7rem;
  margin-bottom: 2rem;
}

.projects > h2 {
  color: var(--text);
  font-size: 6rem;
  max-width: 100rem;
  line-height: 7.5rem;
  margin-bottom: 5rem;
}

.cards {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: 1fr 1fr auto;
  justify-content: center;
  gap: 5rem;
}

.cards > article {
  position: relative;
  overflow: hidden;
  height: 40rem;
  width: 55rem;
  transition-property: transform;
  transition-duration: 0.4s;
}

.cards > article:hover {
  transform: scale(1.05);
}

.cards > article > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(0.7);
  border-radius: 20px;
}

.detailCards {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  left: 5%;
  bottom: 7%;
  gap: 1rem;
}

.detailCards > h2 {
  margin-right: 3rem;
  font-size: 3.5rem;
  color: var(--white);
}

.detailCards > button {
  background-color: hsla(0, 0%, 43%, 0.336);
  padding: .6rem 1.4rem .8rem;
  border: var(--white) 1px solid;
  background-color: var(--article-button);
  border-radius: 30px;

  color: var(--white);
  font-size: 1.5rem;
  display: flex;
  text-align: center;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.seeAll {
  width: fit-content;
  place-self: center;
  
  background-color: var(--white);
  color: var(--black);
  border: 1px solid var(--black);

  font-size: 1.6rem;
  font-weight: 700;
  padding: .8rem 1.2rem;
  border-radius: 30px;
  cursor: pointer;

  transition-property: transform;
  transition-duration: 0.4s;
}

.seeAll:hover {
  transform: scale(1.05);
}

/* POPULAR SECTION*/
.popular {
  display: flex;
  background-color: var(--gray-articles);
  padding: 6rem 7rem 8rem;
  gap: 6rem;
}

.images {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.images > .tableOne {
  grid-column: span 2;
  width: 100%;
  height: 30rem;
  object-fit: cover;
  border-radius: 15px;
}

.tableTwo, .tableThree {
  object-fit: cover;
  border-radius: 15px;
  width: 21rem;
  height: 14rem;
}

.content > h3 {
  color: var(--text);
  font-size: 1.7rem;
  margin-bottom: 1rem;
}

.content > h2 {
  color: var(--text);
  font-size: 4rem;
  line-height: 5rem;
}

.content > .value {
  display: flex;
  align-items: center;
  gap: .7rem;

  color: var(--text);
  font-size: 2.5rem;
  font-weight: 700;
  margin-top: 2rem;
}

.content > .value > span {
  color: var(--span-text);
  font-weight: 400;
  font-size: 2rem;
  text-decoration: line-through;
}

.content > h4 {
  color: var(--text);
  font-size: 2.2rem;
  font-weight: 700;
  margin-top: 1.5rem;
}

.content > .description {
  color: var(--black);
  font-size: 1.8rem;
  margin-top: 1.2rem;
  max-width: 50rem;
  font-weight: 400;
}

.content > h5 {
  color: var(--text);
  font-size: 1.6rem;
  font-weight: 900;
  margin-top: 2rem;
}

.colors {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}

.colorOne {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  background-color: #1FA1EA;
}

.colorTwo {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  background-color: #3990C2;
}

.colorThree {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  background-color: #457896;
}

.content > button {
  border: none;
  color: var(--white);
  background-color: var(--black);
  border-radius: 30px;
  font-size: 1.8rem;
  padding: .9rem 1.7rem;
  margin-top: 2.8rem;
  cursor: pointer;

  transition-property: transform;
  transition-duration: 0.4s;
}

.content > button:hover {
  transform: scale(1.1);
}

/*FOOTER SECTION */
footer {
  position: relative;
  height: 82rem;
}

.fImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(0.6);
}

footer > h1 {
  position: absolute;
  top: 7%;
  color: var(--white);
  font-size: 10rem;
  text-align: center;
}

footer > button {
  display: flex;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);

  border: 1px solid var(--white);
  background-color: var(--white);
  color: var(--black);

  font-size: 2rem;
  font-weight: 900;
  padding: 1rem 3.2rem;
  border-radius: 30px;
  cursor: pointer;

  transition-duration: 0.4s;
}

footer > button:hover{
  background-color: #dbdbdb;
}

.final {
  position: absolute;
  bottom: 3%;
  right: 3%;
  left: 3%;

  background-color: var(--white);
  border-radius: 10px;

  padding: 3rem 3.5rem;
}

.columns {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
}

.column1 > .title {
  display: flex;
  align-items: center;
  gap: 1rem;

  color: var(--text);
  font-size: 2.2rem;
}

.column1 > .title > img {
  height: 3rem;
  width: 3rem;

  filter: invert(100%);
}

.column1 > p {
  color: var(--span-text);
  font-size: 1.2rem;

  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.social {
  display: flex;
  gap: 1rem;
}

.social > img {
  width: 2.5rem;
  height: 2.5rem;
  cursor: pointer;
}

.column2 > strong,
.column3 > strong,
.column4 > strong,
.column5 > strong {
  font-size: 2rem;
  display: flex;
  margin-bottom: 1.5rem;
  cursor: pointer;
}

.column2 > p,
.column3 > p,
.column4 > p,
.column5 > p {
  font-size: 1.5rem;
  color: var(--span-text);
  
  display: flex;
  margin-bottom: 1.2rem;
  cursor: pointer;
}

.line {
  border: 1px solid var(--line);

  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.rights {
  display: flex;
  justify-content: center;
  font-size: 1.6rem;
  color: var(--span-text);
}